<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
        <title>Changelog</title>
        <style>
            body { font-family: 'Times New Roman', Times, serif; margin: 40px;}
            h1 { color: #333;}
            .article_text { border: 1px solid #ccc; padding: 20px; border-radius: 8px; max-width: 1000px;}
            .data-row { margin-bottom: 10px;}
            .label { font-weight: bold;}
        
        </style>

    
    </head>
    

    <body>
         <a href="http://127.0.0.1:5000/">Home</a>
         <br>
        <h1>This is a changelog of this weather app.</h1>
        <h2>9/21/25</h2>
        <p>Made first commit to Git and setup Github for version control.</p>

        <h2><br>Before 9/21/25</h2>
        <p>I didn't track file history or changes befor this point.</p>
        <br>
       
    </body>
</html>
